---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">

  <div class="text-center">
    <h1 class="text-4xl font-bold">Welcome to the Home Page!</h1>
    <p class="text-lg text-gray-700 mt-4">
      This is the content for your new home page, based on our plan.
    </p>
  </div>

</Layout>